<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ankerkraut - Newsletter abonnieren</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="signup-form__wrapper">
      <div class="signup-form__content">
        <h2>Post aus Hamburg</h2>
        <h1>
          JETZT NEWSLETTER <br/>
          ABONNIEREN,<br/>
          <span>10 % RABATT SICHERN</span><br/>
          und die 10 besten <br/>
          Grill-Tipps <br/>
          erhalten!<br/>
        </h1>
        
        <div class="signup-form__form">
          <form action="https://www.ankerkraut.de/newsletter/subscriber/new/">
            <input 
              class="signup-form__email-field" 
              placeholder="Hier E-Mail Adresse eingeben" 
              id="newsletter"
              title="Anmeldung für unseren Newsletter"
              type="email"></input>
            <br/>
            <button class="signup-form__submit-button" type="submit">JETZT ABONNIEREN</button>
          </form>
           
        </div>
      </div>

    </div>
    <script src="bundle.js"></script>
  </body>
</html>
